[Unit]
Description=IBM UPS monitor
Before=xyz.openbmc_project.State.Chassis@0.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/ibm-ups
Type=dbus
BusName=xyz.openbmc_project.Power.IBMUPS

[Install]
WantedBy=multi-user.target
